<div class="firstDiv">
  <div class="littleDiv">
    <h1>CATÁLOGO DE RIESGO</h1>
  </div>

  <div class="botonlist">
    <app-tabs [list]="tabsList" (onChangeLink)="onTabChange($event)"></app-tabs>
  </div>


  <div class="searchDiv">
    <h1>Buscar</h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Buscar" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteSelected($event)">
        <mat-option option *ngFor="let option of dropDownListOptions" [value]="option">{{ option }} 
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="countryTableContainer" *ngIf="option === 'ocupaciones'">
    <app-ocupation-table ></app-ocupation-table>
  </div>

  <div *ngIf="option === 'ocupaciones'">
    <app-ocupation
     (sendNames)="onDataChange($event) "></app-ocupation>
    
  </div>
  <div *ngIf="option === 'paises'">
    <app-country (countriesDataChange)="onDataChange($event)"></app-country>
 
  </div>
  <div *ngIf="option === 'identificaciones'">
    <app-identification-type (identificationDataChange)="onDataChange($event)"></app-identification-type>
  </div>



</div>